.container{
  display: flex;
  height: 120vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  .example-card{
    width: 60%;
  }
  a{
    width: 70%;
    img{
      width: 100%;
    }
  }

}

